{% extends "product/base.html" %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul class="messages">
    {% for msg in messages %}
    <li>
        <div class="alert alert-success">{{ msg }}</div>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Id</td>
            <td>Category</td>
            <td>Product</td>
            <td>Supplier</td>
            <td>Price</td>
            <td>Stock</td>
            <td>
                <a href="{% url 'product_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for product in product_list %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.product }}</td>
                <td>{{ product.supplier }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>

                <td>
                    <a href="{% url 'product_update' product.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'product_delete' product.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% include "pagination.html" with page=product_list %}

{% endblock content %}